<div class="headerdiv1">
  <div class = "col-lg-12 col-sm-12 col-xs-12">
  <h1 style = "text-align: center; margin-top: 40px; color: #ee0979;" >LIVE WEBSITES</h1>


      <% @websites.each do |website| %> 
      <div class = "col-lg-3 col-sm-12 col-xs-12">   
        <div class="card" >        
          <%= link_to website do %>                  
                    <% if website.logo.present? %>
                      <%= image_tag website.logo %>
                    <% else %>
                      <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures.png", :alt => "want a car buy a car")  %>
                    <% end %>                         
          <% end %>        
          </div>      
        </div>   
      <% end %>
  </div>
</div>