<div class="headerdiv1" id = "appheader">

<!-- 	<h3 style = "margin-top: 10% margin-bottom: 10%;; font-size: 50px;">TDC WEBBUILD</h3> -->

	<div class = "col-lg-6 col-sm-12 col-xs-12" id ="leftheaderdiv">

		

		<h3 style = "margin-top: 10%; ">TDC</h3>
		<h3 style = "margin-top: 0%; ">WEBSITE</h3>
		<h3 style = "margin-top: 0%; ">BUILDER</h3>
		<!-- <h6 style = "margin-top: 1%;margin-left: 2%;font-size: 10px; text-align: right;">BUILD YOUR BRAND WITHOUT ANY CODE</h6>	 -->
		
	</div>


	<div class = "col-md-6 col-sm-12 col-xs-12"  id = "rightheaderdiv" >


		<blockquote style = "margin-top: 15%; margin-left: 15%; margin-bottom: 0px; " ><strong><h3 style = "font-size: 14px;">WE UNDERSTAND THE COMPLEXITIES OF WEB DESIGN, OUR CUSTOMERS SHOULD NOT BE THE ONE TO WORRY ABOUT IT! - CEO, TDC</h3></strong></blockquote>
		
		
			<h4 style = "margin: 80px auto 10px auto;  width:80%; text-align: center; color: #fff;">JUST FILL UP A SIMPLE FORM AND GET YOUR BRAND STARTED</h4>		 

			<h4 style = "margin-top: 0%; text-align:center;"> 
				<%= link_to 'START YOUR WEBSITE NOW',  new_website_path, class: "btn btn-primary" %>			

			</h4>


	
       
    

	</div>


</div>





