<% if !current_user %>                     
 
    <div class="headerdiv1" style = "margin: 12px 10px 2px 10px;">
      <h1 style = "text-align: center; margin-top: 40px;font-size: 90px; color: #ee0979;" >PRICING</h1>

      <div class="container" style = "margin-left:auto; 
        margin-right:auto;">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                            <h3>Standard</h3>
                        </span>
                        <span class="price-value"><span class="currency">$</span>10<span class="mo"> month</span></span>
                    </div>
     
                    <div class="pricingContent">
                        <ul>
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Monthly Bandwidth</li>
                            <li>50 Domains</li>
                            <li>Unlimited Subdomains</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
     
            
                    <div class="pricingTable-sign-up">
                       <%= link_to 'SIGN UP',  new_user_session_path, class: "btn btn-block btn-default" %>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                            <h3>Standard</h3>
                        </span>
                        <span class="price-value"><span class="currency">$</span>10<span class="mo"> month</span></span>
                    </div>
     
                    <div class="pricingContent">
                        <ul>
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Monthly Bandwidth</li>
                            <li>50 Domains</li>
                            <li>Unlimited Subdomains</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
     
                    <div class="pricingTable-sign-up">
                        <%= link_to 'SIGN UP',  new_user_session_path, class: "btn btn-block btn-default" %>
                    </div><!-- BUTTON BOX-->
                </div>
                </div>
                <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                            <h3>Standard</h3>
                        </span>
                        <span class="price-value"><span class="currency">$</span>10<span class="mo"> month</span></span>
                    </div>
     
                    <div class="pricingContent">
                        <ul>
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Monthly Bandwidth</li>
                            <li>50 Domains</li>
                            <li>Unlimited Subdomains</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
     
                    <div class="pricingTable-sign-up">
                        <%= link_to 'SIGN UP',  new_user_session_path, class: "btn btn-block btn-default" %>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                            <h3>Standard</h3>
                        </span>
                        <span class="price-value"><span class="currency">$</span>10<span class="mo"> month</span></span>
                    </div>
     
                    <div class="pricingContent">
                        <ul>
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>
                            <li>50GB Monthly Bandwidth</li>
                            <li>50 Domains</li>
                            <li>Unlimited Subdomains</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
     
                    <div class="pricingTable-sign-up">
                        <%= link_to 'SIGN UP',  new_user_session_path, class: "btn btn-block btn-default" %>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>
            </div>
        </div>
    </div>

<% end %>

</div>