<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li>          
		      <%= image_tag @website.logo,:class => "style_logo" %>		
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">             


        <% @websitepages.each do |nav| %>  
          <li>
            <%= link_to "#{nav.title.upcase}", website_page_path(@website.id,nav.id) %>
          </li>
        <% end %> 

        <li>
            <%= link_to "VIEW YOUR INBOX", website_messages_path(@website.id) %>
        </li>

        <li>
          <%= link_to 'ADD A PAGE', new_website_page_path(@website.id) %>
        </li> 

      </ul>
      

      
    </div>
  </div>
</nav>


