<%= render "layouts/navbar" %>
<Strong><p id="notice" style = "margin: 0px 0px;"><%= notice %></strong>

<%= render "websites/allwebsites" %>

<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 00px; min-height: 100px;">
    <%= render "layouts/footer" %>
</div>