<%= render "layouts/navbar" %>
<div>
	<h1 style = "text-align: center; margin-top: 40px;font-size: 90px; color: #ee0979; " >EDITING MESSAGE</h1>

	<%= render 'formedit', message: @message %>
</div>


<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 0px;min-height: 100px;">
    <%= render "layouts/footer" %>
</div>