<div class="headerdiv1" ">
  <div class = "col-lg-12 col-sm-12 col-xs-12">
    <h1 style = "text-align: center; margin-top: 40px; color: #ee0979;" >FREE TEMPLATES </h1>

      <% @template_csses.each do |template| %>
      <div class = "col-lg-6 col-sm-12 col-xs-12">
        <div id = "templatecss" >                
          <%= image_tag template.cssimage %>               	      
          <h2><strong><%= template.name %></strong></h2>


        </div>
        </div>
        
      <% end %>
  </div>
</div>

