<%= render "websites/websitenavbar" %>
<h1 style = "text-align: center; margin-top: 40px;font-size: 90px; color: #ee0979; " >NEW INVENTORY</h1>


<%= render 'form', inventory: @inventory, website: @website %>

