<%= render "layouts/navbar" %>


  <div class="w3-panel w3-card-2">
    <div class="col-md-12 text-center">
		<h2>ABOUT US</h2>

	<ul style = "list-style: none;">
		<li>
			Our mission at AuctNDeal is to be your ultimate online solution for auctioning new, certified and used cars. 

		</li>
		<li>Our site is designed to give you more control of the buying process and make finding a vehicle easier than ever before. Whether you’re shopping for a new, certified or used car, our website offers you these benefits:
		</li>
		<li>
			The largest selection of vehicle inventory from dealers and private sellers
		</li>
		<li>
			The most comprehensive selection of buying and selling tips
		</li>
		<li>
			The most complete research and compare tools, including reviews, photos, videos and more
		</li>
		<li>
			Vehicle pricing, including seller specials and dealer information
		</li>
		<li>
			Safety information and vehicle history reports
		</li>
		<li>	
			Help with finance, insurance and warranty programs
		</li>		
	</ul>
</div>		
</div>



<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 00px;position:fixed;bottom:0; min-height: 100px;">
    <%= render "layouts/footer" %>
</div>