<%= render "layouts/navbar" %>

<div class="row">
  <div class="w3-panel w3-card-2">
    <div class="col-md-12 text-center">
            <h1>CONTACT US</h1>    
            <p>
             If you have a question feel free to call us at the number below. 
             <br>
             Our Customer Sales Representatives look forward to helping you with your dream vehicle!
            </p>
             <a href="mailto:thedealerschoice@yahoo.com" style = "text-decoration: none" target="_top"><h2>Drop A Mail</h2></a>
             <h2>OR</h2>
            <a href="tel:866-338-7870" style = "text-decoration: none"><h2>Click To Call +1-866-338-7870</h2></a>            
        </div>
    </div>
</div>


<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 00px;position:fixed;bottom:0; min-height: 100px;">
    <%= render "layouts/footer" %>
</div>