<%= render "layouts/navbar" %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="w3-panel w3-card-2">
    <div class="col-md-12 text-center">
        <h1>HELP</h1>  
        <h3>Field: Categories</h3>
        <p>
            We have categorised all the Vehicles with as groups: model
            Use These categories for search parameters
        </p>            
        <p>
            The Various Models are explained below
        </p>
        <p>
            1. Uncategorised
            2. Sedan
            3. Coupe
            4. Convertible
            5. Sportscar
            6. Crossover
            7. Hatchback
            8. Van
            9. Wagon
            10. SUV
            11. Diesel
            12. Luxury
            13. Other 
        </p>
        <h3>Field: Near</h3>
        <p>
            Use city name in the field for near: for e.g. Syracuse or Syracuse, NY or Syracuse, New York
        </p>
        <h3>Field: Radius</h3>
        <p>
            Use radius to set the radius of the search
        </p>
        <h3>Field: New/Used</h3>
        <p>
            Use (N or U) or (New or Used) or (new or used) to specify the search criteria
        </p>
</div>
</div>
</div>



<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 00px;position:fixed;bottom:0; min-height: 100px;">
    <%= render "layouts/footer" %>
</div>