<%= render "layouts/navbar" %>
<div class="col-md-12 text-center">
<h1 style = "text-align: center; margin-top: 40px;font-size: 90px; color: #ee0979; " >Editing Page</h1>

<%= render 'formedit', page: @page %>

</div>


<div class="headerdiv1" id = "custom1" style = "margin: 12px 0px 0px 0px;min-height: 100px;">
    <%= render "layouts/footer" %>
</div>


