/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button 
 */
@import "social-share-button";



.headerdiv1{	
	color: #fff;
	width: 100%;			
	float: left;
	min-height: 550px;
	margin-top: 0px;	
	text-align: center;

}

#map {
    min-height: 380px;
    width: 100%;        
}  



blockquote {
	border:none;
	font-family: 'Baloo Chettan', cursive;
	margin-bottom: 30px;
	position: relative; 
	max-width: 400px; 
   	margin: 10px auto; 
    padding-left: 0px;     
}

blockquote h3 {
    font-size:21px;
}

blockquote h3:before { 
    content: "\201C";
    font-weight: bold;
    font-size:150px;
    color:#000;
    position: absolute; 
    top: -0.2em;
    left: -0.6em; 
    font-family: 'Georgia'; 
    margin: 10px auto; 
} 
blockquote h3:after { 
    content: "\201D";
    font-weight: bold;
    font-size:150px;
    color:#000;
    position: absolute; 
    bottom: -0.8em;
    right: 0; 
    font-family: 'Georgia'; 
}

#appheader{		
	background-image: url(//www.shunvmall.com/data/out/177/47437073-pic-background.jpg);
	background:  #ff6a00; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to bottom,  #ff6a00, #ee0979);
	
}

#search{
	background: #fff;	
	color: rgba(137,202,220,1);
}


#last-footer{
	background: rgba(137,202,220,0.2);	
	color: #fff;
	margin-bottom: 0px;
	

}


.headerdiv1 > .leftheaderdiv{
	float: left;
	width: 50%;		
	height: 100%;
	box-shadow: inset 0 0 0 1000px rgba(238,9,121,0.3);
	
}

.appheaderimg{
	max-width:100%;
	max-height:100%;	

}



.headerdiv1 > .leftheaderdiv > h1,h5{
	margin: auto 0px;	
	font-family: 'Baloo Chettan', cursive;
	text-align: center;	

		
}

.headerdiv1 > .leftheaderdiv > h1{
	text-shadow: 0 1px 1px #fff000; 
	text-align: center;		
}


.headerdiv1 > .leftheaderdiv > h3, h6, p{
	font-family: 'Raleway', sans-serif;	
	text-align: center;	
	margin-left: 2%;
}


.headerdiv1 > .leftheaderdiv > h3::first-letter { 
    font-size: 120%;
    color: #000;
}


.headerdiv1 >.rightheaderdiv > h3,h4  {
	font-family: "Great Vibes", cursive; font-size: 165px; 	
	text-align: center;
}




.container{	
	width: 100%;	
	padding: 0px 0px;
	margin-top: 0px;
    	
}



.searchbox{
	text-align: center;
}

/*card*/

.card1{
	margin: 1% 1%;	
	display:inline-block;
	width: 20%;				
	height: 220px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.50), 0 1px 2px rgba(0,0,0,0.7);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 	
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.7);
}

#templatecss{
	margin: 1% 1%;	
	text-align: center;	
	display:inline-block;
	width: 30%;				
	min-height: 217px;	
	background-image: url("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/file.svg");
	background-repeat:no-repeat;
    background-size:contain;


}

#templatecss >  img{
	min-height: 180px;	
	width: 67%;
	padding: 1px;
	margin: 10px 0px 10px 0px;

	
}

#templatecss >  h2{
	color: #ff6a00;
	margin-top: 20px;
	font-size: 20px;	
}


#textborder{
	outline: 1px solid orange;
}


.card1 > a:hover {
	outline: solid white;	
	text-decoration: none;
}



.card1 >  a > img{
	height: 220px;
	width: 100%;	
	opacity: 1;	
	border: 1px solid #000;
	
}



.card1-text{
	font-size: 10px;
	margin: 2px;
	opacity: 1;	
}


.card1-img-top > img{



}

table.center {
	margin-top: 5%;
    margin-left:auto; 
    margin-right:auto;
    display: inline-block;
  }



  /*pricing table*/


 .pricingTable{
    text-align: center;
    background: #ff6a00;
    padding-top: 5px;
    transition: all 0.5s ease-in-out 0s;
}
.pricingTable > .pricingTable-header{
    color:#fff;
    background: #ee0979;
    height: 190px;
    position: relative;
    transition: all 0.5s ease 0s;
}
.pricingTable > .pricingTable-header:after{
    content: "";
    border-bottom: 40px solid  #ff6a00;
    border-left: 263px solid transparent;
    position: absolute;
    right:0px;
    bottom: 0px;
}
.pricingTable:hover .pricingTable-header{
    height: 230px;
    transition: all 0.5s ease 0s;
}
.pricingTable-header > .heading{
    display: block;
    padding: 20px 0;
}
.heading > h3{
    margin: 0;
    text-transform: uppercase;
}
.pricingTable-header > .price-value{
    display: block;
    font-size: 60px;
    line-height: 60px;
}
.pricingTable-header > .price-value > .mo{
    font-size: 14px;
    display: block;
    line-height: 0px;
    text-transform: uppercase;
}
.pricingTable-header > .price-value > .currency{
    font-size: 24px;
    margin-right: 4px;
    position: relative;
    bottom:30px;
}
.pricingTable > .pricingContent{
    text-transform: uppercase;
    color:#fff
}
.pricingTable > .pricingContent > ul{
    list-style: none;
    padding: 0;
}
.pricingTable > .pricingContent > ul > li{
    padding: 15px 0;
    border-bottom: 1px solid #fff;
}
.pricingTable > .pricingContent > ul > li:last-child{
    border: 0px none;
}
.pricingTable-sign-up{
    padding: 30px 0;
}
.pricingTable-sign-up > .btn-block{
    width: 80%;
    margin: 0 auto;
    background: #ee0979;
    border:2px solid #fff;
    color:#fff;
    padding: 15px 12px;
    text-transform: uppercase;
    font-size: 18px;
}
.pricingTable-sign-up > .btn-block:hover{
    opacity: 0.9;
}
.pink{
    background: #ed687c;
}
.pink .pricingTable-header:after{
    border-bottom-color: #ed687c;
}
.orange{
    background: #e67e22;
}
.orange .pricingTable-header:after{
    border-bottom-color: #e67e22;
}
.blue{
    background: #3498db;
}
.blue .pricingTable-header:after{
    border-bottom-color: #3498db;
}
@media screen and (max-width: 1200px){
    .pricingTable > .pricingTable-header:after{
        border-left: 215px solid transparent;
    }
}
@media screen and (max-width: 990px){
    .pricingTable{
        margin-bottom: 20px;
    }
    .pricingTable > .pricingTable-header:after{
        border-left: 349px solid transparent;
    }
}
@media screen and (max-width: 480px){
    .pricingTable{
        overflow: hidden;
    }
    .pricingTable > .pricingTable-header:after {
        border-left: 459px solid rgba(0, 0, 0, 0);
    }
}



#custom1{
    width: 100%;            
    background: #444356;    
    color: #fff;    
    bottom: 0;    
    border-top: 5px solid;
    background:  #ee0979; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ee0979,#ff6a00); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ee0979, #ff6a00);
}


.social li {
    background: #000 repeat scroll 0 0 #B5B5B5;
    border: 2px solid #ee0979;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 2px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;  
    color: #EDEFF1 !important;
}



#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #fff;
}

#style-1::-webkit-scrollbar
{
    width: 8px;
    background-color: #fff;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.gradient {  
  min-height: 500px;    
}

.wrap {
  width: 80%;
  position: relative;
  margin: 10px auto;     
}

@media (min-width:800px) {
  .wrap {
  width: 50%;
  margin: 50px auto;
  }
}

.card {
  position: relative;
  margin: 0px auto;
  background-color: #fff;  
  box-shadow: 0px 1px 5px #999;
  overflow: hidden;
  z-index: 10;
}
.image {  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  min-height: 300px;  
  transition: all .5s ease-in-out;
    
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  color: #eee;
  padding: 20px;
  background-color: #333;
  background-color: rgba(76, 166, 255, .9);
  font-size: 24px;
  z-index: 10;
  span {
    font-size: 0.6em;
  }
}

.description {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  color: #eee;
  padding: 10px 20px 0px 20px;
  background-color: #333;
  background-color: rgba(0, 0, 0, .7);  
  .glyphicon {
    font-size: 20px;
    text-align: center;
}
}